body{
    background-image: url('https://img.freepik.com/free-vector/blue-web-support-help-page-template-design_1017-26768.jpg?t=st=1731392133~exp=1731395733~hmac=ddcf812b058ceca562042487e9741ad2ebd8a262ca9d23e6a75a34615634d798&w=826');
    background-size: cover;
    background-position:right ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  Verdana;
}
.accordion{
width: 65%;
background-color: #fff;
padding: 30px;
border-radius: 30px;

}
.accordion h2{
    margin-bottom: 30px;
    text-align: center;
}
.accordion .content-container{
    padding: 18px 0px;
    font-size: 13px;
    border-bottom: 1px solid black;

    position: relative;
}
.question::after{
content: '+' ;

position: absolute;
right: -5px;
}

.answer{
    padding-top: 15px;
    font-size:13px ;
    line-height: 1.5;
    width:100% ;

    height: 0px;
    overflow: hidden;
    transition: .5s;
}

/* .active{
    height: unset;

} */
/* 
 */
 .accordion.content-container.active .answer{
    height: 150px;
 }
 .accordion.content-container.active .question{
    font-size: 18px;
    transition: .5s;
 }
 .accordion.content-container.active .question::after{
content: '-';
font-size:30px ;
transition:.5s
}
