@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/wesbos/JavaScript30/refs/heads/master/01%20-%20JavaScript%20Drum%20Kit/background.jpg");
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.key_container {
  height: 75px;
  width: 75px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  border: 4px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.letter {
  font-family: "Lexend Deca";
  font-size: 2.7em;
}

.sound {
  font-family: sans-serif;
  font-weight: 500;
  color: #fffb00;
  text-transform: uppercase;
}

.key_container.active {
  /* box-shadow: 3px 3px 5px 2px #fffb00, -3px 3px 5px 2px #fffb00,
    3px -3px 5px 2px #fffb00, -3px -3px 5px 2px #fffb00;
  transform: scale(1.1); */
  animation: shadowAnim 2s forwards;
}

@keyframes shadowAnim {
  0% {
    box-shadow: 3px 3px 5px 2px #fffb00, -3px 3px 5px 2px #fffb00,
      3px -3px 5px 2px #fffb00, -3px -3px 5px 2px #fffb00;
    transform: scale(1.1);
  }
  100% {
    box-shadow: unset;
    transform: scale(1);
  }
}
